<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test.dara">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To add and validate users -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Dara 1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_home_screen"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".NewReqActivity"
            android:label="@string/title_activity_new_req"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".CargoSizeActivity"
            android:label="Select Item Size"
            android:theme="@style/MyMaterialTheme"/>
        <activity android:name=".CapacityActivity"
            android:label="Select Cargo Capacity"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name=".Anchor"
            android:label="Set Offer Amount"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".TutorialActivity" />
        <activity android:name=".ProfileView" />
        <activity android:name=".InitialOffer" />
        <activity
            android:name=".NewTripActivity"
            android:label="New Trip Details"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".StartingLocationActivity"
            android:label="Set Starting Location"
            android:parentActivityName=".NewReqActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.dara.NewReqActivity" />
        </activity>
        <activity
            android:name=".TripStartActivity"
            android:label="Set Starting Location"
            android:parentActivityName=".NewTripActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.dara.NewTripActivity" />
        </activity>
        <activity
            android:name=".EndingLocationActivity"
            android:label="Set Delivery Address"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.dara.NewReqActivity" />
        </activity>
        <activity
            android:name=".TripEndActivity"
            android:label="Set Destination"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.dara.NewTripActivity" />
        </activity>
        <activity
            android:name=".DueDateActivity"
            android:label="Select Due Date"
            android:parentActivityName=".NewReqActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.dara.NewReqActivity" />
        </activity>
        <activity
            android:name=".TravelDateActivity"
            android:label="Select Travel Date"
            android:parentActivityName=".NewTripActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.dara.NewTripActivity" />
        </activity>
        <activity
            android:name=".RouteMapActivity"
            android:label="Select senders on the map"
            android:parentActivityName=".NewTripActivity"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.dara.NewTripActivity" />
        </activity>
        <activity
            android:name=".PackageDataActivity"
            android:label="@string/title_activity_package_data"
            android:parentActivityName=".RouteMapActivity"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.dara.RouteMapActivity" />
        </activity>
        <activity
            android:name=".CarrierDataActivity"
            android:label="Review Carrier Details"
            android:parentActivityName=".HomeScreenActivity"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.dara.HomeScreenActivity" />
        </activity>
    </application>

</manifest>